---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../components/layout.astro";
import Polaroid from "../components/polaroid.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="Ben Borgers">
  <div
    class="mt-16 mb-32 grid grid-cols-[max-content,36rem] w-max mx-auto gap-x-20"
  >
    <div>
      <Polaroid />
      <div class="mt-6 text-right text-gray-900">
        <a href="/" class="block">Home</a>
        <a href="/" class="block">Blog</a>
        <a href="/" class="block">Work</a>
        <a href="/" class="block">Projects</a>
      </div>
      <div class="mt-4 text-right text-gray-500">
        <a href="/" class="block">Contact</a>
        <a href="/" class="block">Twitter</a>
        <a href="/" class="block">GitHub</a>
        <a href="/" class="block">LinkedIn</a>
      </div>
    </div>
    <div>
      <h1 class="text-4xl font-extrabold tracking-tight">
        {post.data.title}
      </h1>

      <div
        class:list={[
          "mt-10",
          "prose prose-stone prose-xl max-w-none",
          "prose-p:font-serif prose-p:leading-[1.55]",
          "prose-headings:text-black",
        ]}
      >
        <Content />
      </div>
    </div>
  </div>
</Layout>
