---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { getReader } from "../lib/getReader";

const reader = getReader();
const posts = (await reader.collections.posts.all())
  .filter(
    (post) => post.entry.published && !post.entry.unlisted && post.entry.date
  )
  .sort(
    (a, b) =>
      new Date(b.entry.date!).getTime() - new Date(a.entry.date!).getTime()
  );
---

<Layout>
  <div class="mt-8"></div>

  <div class="flex items-start gap-x-5">
    <div class="shrink-0">
      <div class="bg-white max-w-max p-2 rounded-lg shadow -rotate-2">
        <img src="/me.png" alt="" class="bg-gray-200 rounded-md w-24" />
        <p class="mt-1 font-handwriting text-lg text-center">spring 2023</p>
      </div>
      <p class="mt-0.5 text-xs font-medium text-gray-400 text-right -rotate-2">
        <a href="/photos" class="underline decoration-gray-300">
          more photos &rarr;
        </a>
      </p>
    </div>

    <Prose>
      <p>
        Hello! I’m
        <span class="font-medium text-gray-800">Ben Borgers</span>, a junior at
        Tufts University studying Computer Science.
      </p>
      <p>
        I’m currently an intern at <a
          href="https://locketcamera.com"
          class="!text-amber-500">Locket</a
        > working on the Android app, and a support engineer at <a
          href="https://buttondown.email"
          class="!text-[#0069ff]">Buttondown</a
        >. Next summer, I’ll be an intern at <a
          href="https://notion.so/product"
          class="!text-gray-800">Notion</a
        > in NYC.
      </p>
    </Prose>
  </div>

  <Prose class="mt-8">
    <h2>Work experience</h2>
    <ul>
      <li>
        <a href="https://locketcamera.com" target="blank">Locket</a> (summer
        2023 – present): Working on Android version of social media app; scoping
        and shipping features to millions of users regularly.
      </li>
      <li>
        <a href="https://buttondown.email">Buttondown</a>
         (summer 2021 – present): Support engineer & product engineer.
      </li>
      <li>
        <a href="https://markitsocial.net">Markit</a> (fall 2022): Part-time
        software engineer.
      </li>
      <li>
        <a href="https://lu.ma">Luma</a> and <a href="https://glow.app">
          Glow</a
        > (summer 2022): Full-stack engineering intern.
      </li>
      <li>
        <a href="https://www.ibm.com/products/guardium-insights">
          IBM Security</a
        > (summer 2019 + 2020): Software engineering intern.
      </li>
    </ul>

    <h2>Side projects</h2>
    <img
      src="/side-projects.png"
      alt=""
      class="h-24 block absolute right-3 -translate-y-[6rem] rotate-6"
    />
    <ul>
      <li>
        <a href="https://ask.kiwi">Kiwi</a>: Live Q&A platform for university
        classes; built for University of Michigan research study and currently
        used by 2,000+ students.
      </li>
      <li>
        <a href="https://war.elk.sh/home">War Room</a>: Social to-do list app
        for my friends and I, that has grown to ~100 university students.
      </li>
      <li>
        <a href="https://bagel.institute">Bagel Institute</a>: Teaching tools
        for university classes; built for my dad to use in his classes.
      </li>
      <li>
        <a href="https://opensheet.elk.sh">opensheet</a>: Open-source Google
        Sheets API that receives 100+ million requests/month. People mostly
        discover it from
        <a href="https://benborgers.com/posts/google-sheets-json">
          this blog post</a
        >.
      </li>
      <li>
        <a href="https://benborgers.com/posts/blocks">Blocks</a>: A schedule app
        I built for my high school over Covid that was used by 2,000+ students
        and teachers (85% of the school).
      </li>
    </ul>

    <h2>Blog</h2>
    {
      /* Force h2 to have bottom padding.
      If it's the last item in .prose it won't have bottom padding. */
    }
    <div></div>
  </Prose>

  <div class="space-y-1">
    {
      posts.map((post) => {
        const date = new Date(post.entry.date!);
        return (
          <a href={`/${post.slug}`} class="text-sm flex justify-between">
            <p class="text-gray-800 underline decoration-gray-400">
              {post.entry.title}
            </p>
            <p class="text-gray-400">
              {new Date(post.entry.date!).toLocaleString("en-US", {
                timeZone: "UTC",
                month: "short",
                day: "numeric",
                year:
                  date.getFullYear() === new Date().getFullYear()
                    ? undefined
                    : "numeric",
              })}
            </p>
          </a>
        );
      })
    }
  </div>
</Layout>
