---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
---

<Layout>
  <div class="mt-6"></div>

  <div class="flex items-end gap-x-5">
    <div class="bg-white max-w-max p-2 rounded-lg shadow-sm -rotate-1 shrink-0">
      <img src="/me.png" alt="" class="bg-gray-200 rounded-md w-24" />
      <p class="mt-1 font-handwriting text-lg text-center tracking-tight">
        spring 2023
      </p>
    </div>

    <Prose>
      <p>
        Hello! I’m <span class="font-medium tracking-tight text-gray-800"
          >Ben Borgers</span
        >, a junior at Tufts University studying Computer Science.
      </p>
      <p>
        I’m currently an intern at <a
          href="https://locketcamera.com"
          class="!text-amber-500">Locket</a
        > working on the Android app, and a support engineer at <a
          href="https://buttondown.email"
          target="_blank"
          class="!text-blue-600">Buttondown</a
        >. Next summer, I’ll be an intern at <a
          href="https://notion.so/product"
          target="_blank"
          class="!text-gray-800">Notion</a
        > in NYC.
      </p>
    </Prose>
  </div>
</Layout>
