---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mt-6"></div>

  <div class="flex items-end gap-x-4">
    <div class="bg-white max-w-max p-2 rounded-lg shadow-sm -rotate-1">
      <img src="/me.png" alt="" class="bg-gray-200 rounded-md w-36" />
      <p class="mt-1 font-handwriting text-lg text-center">spring 2023</p>
    </div>

    <div class="text-sm space-y-3">
      <p>
        Hello! I’m <span class="font-medium tracking-tight text-gray-900"
          >Ben Borgers</span
        >, a junior at Tufts University studying Computer Science.
      </p>
      <p>
        I’m currently an intern at <a
          href="https://locketcamera.com"
          class="text-amber-500 underline font-medium tracking-tight">Locket</a
        > working on the Android app, and a support engineer at <a
          href="https://buttondown.email"
          target="_blank"
          class="text-blue-600 underline font-medium tracking-tight"
          >Buttondown</a
        >.
      </p>
    </div>
  </div>
</Layout>
