---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
---

<Layout>
  <div class="mt-6"></div>

  <div class="flex items-end gap-x-5">
    <div class="bg-white max-w-max p-2 rounded-lg shadow-sm -rotate-1 shrink-0">
      <img src="/me.png" alt="" class="bg-gray-200 rounded-md w-24" />
      <p class="mt-1 font-handwriting text-lg text-center tracking-tight">
        spring 2023
      </p>
    </div>

    <Prose>
      <p>
        Hello! I’m <span class="font-medium text-gray-800"
          >Ben Borgers</span
        >, a junior at Tufts University studying Computer Science.
      </p>
      <p>
        I’m currently an intern at <a
          href="https://locketcamera.com"
          class="!text-amber-500">Locket</a
        > working on the Android app, and a support engineer at <a
          href="https://buttondown.email"
          target="_blank"
          class="!text-blue-600">Buttondown</a
        >. Next summer, I’ll be an intern at <a
          href="https://notion.so/product"
          target="_blank"
          class="!text-gray-800">Notion</a
        > in NYC.
      </p>
    </Prose>
  </div>

  <Prose class="mt-8">
    <h2>Work experience</h2>
    <ul>
      <li>
        <a href="https://locketcamera.com" target="blank">Locket</a> (summer 2023 – present): Working on Android version of social media app; scoping and shipping features to millions of users regularly.
      </li>
      <li>
        <a href="https://buttondown.email" target="_blank">Buttondown</a> (summer 2021 – present): Support engineer & product engineer.
      </li>
      <li>
        <a href="https://markitsocial.net" target="_blank">Markit</a> (fall 2022): Part-time software engineer.
      </li>
      <li>
        <a href="https://lu.ma">Luma</a> and <a href="https://glow.app">Glow</a> (summer 2022): Full-stack engineering intern.
      </li>
      <li>
        <a href="https://www.ibm.com/products/guardium-insights">IBM Security</a> (summer 2019, summer 2020): Software engineering intern.
      </li>
    </ul>
  </Prose>
</Layout>
