---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
---

<Layout>
  <div class="mt-6"></div>

  <div class="flex items-end gap-x-5">
    <div class="bg-white max-w-max p-2 rounded-lg shadow -rotate-2 shrink-0">
      <img src="/me.png" alt="" class="bg-gray-200 rounded-md w-24" />
      <p class="mt-1 font-handwriting text-lg text-center">spring 2023</p>
    </div>

    <Prose>
      <p>
        Hello! I’m
        <span class="font-medium text-gray-800">Ben Borgers</span>, a junior at
        Tufts University studying Computer Science.
      </p>
      <p>
        I’m currently an intern at <a
          href="https://locketcamera.com"
          class="!text-amber-500">Locket</a
        > working on the Android app, and a support engineer at <a
          href="https://buttondown.email"
          target="_blank"
          class="!text-[#0069ff]">Buttondown</a
        >. Next summer, I’ll be an intern at <a
          href="https://notion.so/product"
          target="_blank"
          class="!text-gray-800">Notion</a
        > in NYC.
      </p>
    </Prose>
  </div>

  <Prose class="mt-8">
    <h2>Work experience</h2>
    <ul>
      <li>
        <a href="https://locketcamera.com" target="blank">Locket</a> (summer
        2023 – present): Working on Android version of social media app; scoping
        and shipping features to millions of users regularly.
      </li>
      <li>
        <a href="https://buttondown.email" target="_blank">Buttondown</a>
         (summer 2021 – present): Support engineer & product engineer.
      </li>
      <li>
        <a href="https://markitsocial.net" target="_blank">Markit</a> (fall
        2022): Part-time software engineer.
      </li>
      <li>
        <a href="https://lu.ma" target="_blank">Luma</a> and <a
          href="https://glow.app"
          target="_blank"
        >
          Glow</a
        > (summer 2022): Full-stack engineering intern.
      </li>
      <li>
        <a
          href="https://www.ibm.com/products/guardium-insights"
          target="_blank"
        >
          IBM Security</a
        > (summer 2019 + 2020): Software engineering intern.
      </li>
    </ul>

    <h2>Side projects</h2>
    <img
      src="/side-projects.png"
      alt=""
      class="h-24 block absolute right-3 -translate-y-[6rem] rotate-6"
    />
    <ul>
      <li>
        <a href="https://ask.kiwi" target="_blank">Kiwi</a>: Live Q&A platform
        for university classes; built for University of Michigan research study
        and currently used by 2,000+ students.
      </li>
      <li>
        <a href="https://war.elk.sh/home" target="_blank">War Room</a>: Social
        to-do list app for my friends and I, that has grown to ~100 university
        students.
      </li>
      <li>
        <a href="https://bagel.institute" target="_blank">Bagel Institute</a>:
        Teaching tools for university classes; built for my dad to use in his
        classes.
      </li>
      <li>
        <a href="https://opensheet.elk.sh" target="_blank">opensheet</a>:
        Open-source Google Sheets API that receives 100+ million requests/month.
        People mostly discover it from
        <a
          href="https://benborgers.com/posts/google-sheets-json"
          target="_blank"
        >
          this blog post</a
        >.
      </li>
      <li>
        <a href="https://benborgers.com/posts/blocks">Blocks</a>: A schedule app
        I built for my high school over Covid that was used by 2,000+ students
        and teachers (85% of the school).
      </li>
    </ul>
  </Prose>
</Layout>
