---
import Layout from "../layouts/Layout.astro";
import { getReader } from "../lib/getReader";

const reader = getReader();
const photos = (await reader.collections.photos.all()).sort(
  (a, b) =>
    new Date(b.entry.date!).getTime() - new Date(a.entry.date!).getTime()
);
---

<Layout title="Photo of the Day" ogImage={photos[0].entry.photo!}>
  <div class="mt-12">
    <h1 class="text-2xl font-serif text-gray-800">Photo of the Day</h1>
  </div>

  <div class="mt-4 space-y-6">
    {
      photos.map(async (photo, index) => (
        <div>
          <a
            href={photo.entry.photo}
            target="_blank"
            class="cursor-zoom-in block max-w-max"
          >
            <img
              src={photo.entry.photo}
              class="max-h-[85vh]"
              loading={index > 3 ? "lazy" : "eager"}
            />
          </a>
          <div class="mt-1.5 text-sm">
            <p>
              <span class="text-gray-400">
                {new Date(photo.entry.date!).toLocaleString("en-US", {
                  timeZone: "UTC",
                  month: "short",
                  day: "numeric",
                  year: "numeric",
                })}
              </span>
              {photo.entry.caption && (
                <span class="text-gray-600 ml-1.5">{photo.entry.caption}</span>
              )}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
