---
interface Props {
  title: string;
}

import "../css/style.css";
import "../css/valkyrie.css";

import Polaroid from "./polaroid.astro";
import NavLink from "./nav-link.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Ben Borgers" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ben Borgers"
      href="/rss"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased bg-gray-50 text-gray-950">
    <div
      class="px-4 pt-4 sm:pt-16 pb-36 sm:grid sm:grid-cols-[max-content,36rem] sm:gap-x-20 sm:w-max sm:mx-auto"
    >
      <div
        class:list={[
          "max-sm:bg-gray-100 max-sm:border-b max-sm:border-b-gray-200 max-sm:-m-4 max-sm:p-4",
          "max-sm:flex max-sm:items-end max-sm:gap-x-4",
        ]}
      >
        <Polaroid />
        <div class="mt-0.5 sm:mt-6 space-y-0.5 sm:space-y-4">
          <div
            class="max-sm:inline-flex max-sm:gap-x-2.5 sm:text-right text-gray-800"
          >
            <NavLink href="/">Home</NavLink>
            <NavLink href="/blog">Blog</NavLink>
            <NavLink href="/work">Work</NavLink>
            <NavLink href="/projects">Projects</NavLink>
          </div>
          <div
            class="max-sm:inline-flex max-sm:gap-x-2.5 sm:text-right text-gray-500"
          >
            <NavLink href="/contact">Contact</NavLink>
            <NavLink href="https://twitter.com/benborgers">Twitter</NavLink>
            <NavLink href="https://github.com/benborgers">GitHub</NavLink>
            <NavLink href="https://linkedin.com/in/ben-borgers">
              LinkedIn
            </NavLink>
          </div>
        </div>
      </div>
      <div class="max-sm:mt-12">
        <slot />
      </div>
    </div>
  </body>
</html>
