---
interface Props {
  title: string;
}

import "../css/valkyrie.css";

import Polaroid from "./polaroid.astro";
import NavLink from "./nav-link.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Ben Borgers" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ben Borgers"
      href="/rss"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased bg-gray-50 text-gray-950">
    <div
      class="mt-16 mb-36 grid grid-cols-[max-content,36rem] w-max mx-auto gap-x-20"
    >
      <div>
        <Polaroid />
        <div class="mt-6 text-right text-gray-800">
          <NavLink href="/">Home</NavLink>
          <NavLink href="/blog">Blog</NavLink>
          <NavLink href="/work">Work</NavLink>
          <NavLink href="/projects">Projects</NavLink>
        </div>
        <div class="mt-4 text-right text-gray-500">
          <NavLink href="/contact">Contact</NavLink>
          <NavLink href="https://twitter.com/benborgers">Twitter</NavLink>
          <NavLink href="https://github.com/benborgers">GitHub</NavLink>
          <NavLink href="https://linkedin.com/in/ben-borgers">LinkedIn</NavLink>
        </div>
      </div>
      <div>
        <slot />
      </div>
    </div>
  </body>
</html>
