---
interface Props {
  href: string;
  block?: boolean;
}

const { href, block = false } = Astro.props;

const Element = block ? "p" : Fragment;
---

<Element>
  <a
    href={href}
    class:list={[
      Astro.url.pathname === href && "underline decoration-gray-300",
    ]}
  >
    <slot />
  </a>
</Element>
