---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<p>
  <a
    href={href}
    class:list={[
      Astro.url.pathname === href &&
        "underline decoration-gray-400 sm:decoration-gray-300",
    ]}
  >
    <slot />
  </a>
</p>
