---
interface Props {
  href: string;
  newTab?: boolean;
}

const { href, newTab = false } = Astro.props;
---

<p>
  <a
    href={href}
    target={newTab ? "_blank" : null}
    class:list={[
      Astro.url.pathname === href &&
        "underline decoration-gray-400 sm:decoration-gray-300",
    ]}
  >
    <slot />
  </a>
</p>
