<div class="text-sm">
  <p class="text-sm text-gray-500">
    Subscribe to my newsletter for a monthly round-up of new blog posts and
    projects I’m working on!
  </p>

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/benborgers"
    method="post"
    target="_blank"
    class="mt-2.5 sm:mt-2"
  >
    <div class="grid grid-cols-[1fr,max-content] items-center gap-x-2">
      <input
        type="email"
        name="email"
        placeholder="Email address"
        required
        class="py-1.5 px-2 w-full text-sm rounded-md border-gray-200 bg-gray-50 focus:ring-0 focus:border-gray-300 [box-shadow:inset_0_1px_0_#ffffff] placeholder:text-gray-400"
      />
      <button
        class="bg-gray-100 text-gray-600 font-medium px-4 h-full rounded-md border border-gray-200 [box-shadow:inset_0_1px_0_#ffffff]"
      >
        Subscribe
      </button>
    </div>

    <p class="mt-2 text-right">
      <a
        href="https://twitter.com/benborgers"
        target="_blank"
        class="inline-block mr-1.5 underline text-gray-400 decoration-gray-300 font-medium text-xs"
      >
        Twitter &UpperRightArrow;
      </a>
      <a
        href="/rss"
        target="_blank"
        class="inline-block underline text-gray-400 decoration-gray-300 font-medium text-xs"
      >
        RSS feed &UpperRightArrow;
      </a>
    </p>
  </form>
</div>
