---
interface Props {
  post: CollectionEntry<"posts">;
  index?: boolean;
}

import type { CollectionEntry } from "astro:content";
import Layout from "./layout.astro";

const { post, index = false } = Astro.props;

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  {
    !index && (
      <h1 class="text-4xl font-extrabold text-pretty">{post.data.title}</h1>
    )
  }

  {
    post.data.date !== null && (
      <p class="mt-2 text-gray-400 font-medium font-handwriting">
        {post.data.date.toLocaleString("en-US", {
          timeZone: "UTC",
          month: "long",
          day: "numeric",
          year: "numeric",
        })}
      </p>
    )
  }

  <div
    class:list={[
      !index && "mt-6 sm:mt-8",
      "prose prose-stone prose-xl max-w-none",
      "text-gray-900",
      "prose-strong:font-bold",
      "prose-p:font-serif prose-p:leading-[1.6]",
      "prose-li:font-serif prose-li:my-1.5 prose-li:leading-[1.6]",
      "prose-a:font-normal prose-a:text-blue-800",
      "prose-li:marker:text-gray-900",
      "prose-headings:text-gray-900",
      "prose-h2:text-3xl prose-h3:text-2xl",
      "prose-img:max-h-[70vh] prose-video:max-h-[70vh]",
      "prose-figcaption:text-center prose-figcaption:text-base",
      "prose-code:text-[0.9em] prose-pre:text-[0.8em] ",
      "prose-pre:rounded-none prose-pre:!bg-white prose-pre:px-5 prose-pre:py-3 prose-pre:leading-[1.5] prose-pre:ring-1 prose-pre:ring-gray-200/50 prose-pre:shadow-sm",
      "prose-code:before:content-none prose-code:after:content-none",
      "[&_code:not(pre_code)]:bg-white [&_code:not(pre_code)]:ring-1 [&_code:not(pre_code)]:ring-gray-200/50 [&_code:not(pre_code)]:shadow-sm [&_code:not(pre_code)]:text-rose-500 [&_code:not(pre_code)]:px-1 [&_code:not(pre_code)]:text-[0.85em]",
      "prose-img:ring-1 prose-img:ring-gray-200/50 prose-img:shadow-sm",
      "before:prose-p:content-none after:prose-p:content-none",
      "prose-hr:h-auto prose-hr:border-none before:prose-hr:content-['â‚'] before:prose-hr:block before:prose-hr:text-center before:prose-hr:font-serif before:prose-hr:text-gray-900",
    ]}
  >
    <Content />
  </div>

  {
    !index && (
      <div class="mt-12 bg-white shadow-sm p-3 ring-1 ring-gray-200/50">
        <div class="grid md:grid-cols-[auto_1fr] md:items-center gap-x-4 gap-y-2">
          <p class="font-medium text-gray-800 [&_a]:underline [&_a]:decoration-gray-300">
            Get new posts by email (or
            {/* prettier-ignore */}
            <a href="/rss" target="_blank">RSS</a>)!
          </p>
          <form
            action="https://buttondown.com/api/emails/embed-subscribe/benborgers"
            method="post"
            target="_blank"
            class="grid grid-cols-[1fr_auto] gap-x-2"
          >
            <input
              type="email"
              name="email"
              placeholder="you@example.com"
              class="w-full bg-gray-50 border-gray-200 placeholder:text-gray-300 font-medium text-gray-800 px-2 py-1 focus:border-blue-800 focus:ring-blue-800"
            />
            <button class="bg-blue-800 text-white font-medium px-2 py-1">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    )
  }
</Layout>
