<a href="/">
  <div
    class="bg-white shadow-sm w-max p-1.5 sm:p-2 ring-1 ring-gray-200/50 rotate-2"
  >
    <img src="/me.jpg" class="w-20 h-20 sm:w-24 sm:h-24 bg-gray-200" />
    <p
      class="max-sm:hidden mt-1.5 text-sm font-handwriting font-medium text-gray-800 text-center"
    >
      Ben Borgers
    </p>
  </div>
</a>
