<a href="/">
  <div
    class="bg-white shadow-sm w-max rounded-lg p-2 ring-1 ring-gray-200/50 rotate-2"
  >
    <img src="/me.png" class="w-24 bg-gray-200 rounded-md" />
    <p
      class="mt-1.5 text-sm font-handwriting text-center font-medium text-gray-800"
    >
      Ben Borgers
    </p>
  </div>
</a>
