<div
  class:list={[
    "prose prose-sm prose-stone",
    "prose-a:font-medium prose-a:text-gray-800",
    "prose-headings:font-serif prose-headings:font-normal",
    "prose-code:text-sm prose-pre:rounded-lg prose-pre:!bg-gray-800",
    "prose-code:before:content-none prose-code:after:content-none",
    "prose-img:max-h-[85vh] prose-img:mx-auto prose-video:max-h-[85vh] prose-video:mx-auto",
    Astro.props.class,
  ]}
>
  <slot />
</div>
