<div
  class:list={[
    "prose prose-sm prose-stone",
    "prose-a:font-medium prose-a:text-gray-800",
    "prose-headings:font-serif prose-headings:font-normal",
    "prose-h2:text-lg prose-h3:text-base",
    "prose-code:text-sm prose-pre:rounded-lg prose-pre:!bg-gray-800",
    "prose-code:before:content-none prose-code:after:content-none",
    Astro.props.class,
  ]}
>
  <slot />
</div>
