<div class:list={[
  'prose prose-sm prose-stone',
  'prose-a:font-medium prose-a:text-gray-800',
  'prose-headings:font-serif prose-headings:font-normal',
  'prose-h2:text-lg',
  Astro.props.class
]}>
  <slot />
</div>
