<div
  x-data="{
    open: false,
    query: '',
    results: [],
    pagefind: null
  }"
  x-init="(async () => {
    pagefind = await import('/pagefind/pagefind.js')
    pagefind.init()
  })()"
  x-effect.results="results = pagefind ? (await pagefind.search(query))?.results : []"
  x-effect.focus="open && setTimeout(() => $refs.input.focus())"
  @keydown.meta.k.window="open = !open"
  class="relative"
>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <script src="/pagefind/pagefind-ui.js" is:inline></script>

  <button @click="open = true">Search</button>

  <div
    class="fixed inset-0 bg-black/15"
    x-show="open"
    x-cloak
    x-transition.opacity.duration.150ms
  >
  </div>

  <div
    class:list={[
      "w-96 h-[32rem] bg-white ring-1 ring-gray-400/20 rounded-2xl absolute -top-44 left-32",
      "text-left overflow-hidden",
      "grid grid-rows-[max-content,1fr]",
      "isolate z-[1000]",
    ]}
    x-show="open"
    x-cloak
    @click.away="open = false"
    @keydown.escape.window="open = false"
    x-trap.noscroll="open"
    x-transition.scale.origin.left.opacity.duration.100ms
  >
    <div
      class="flex items-center gap-2 bg-gray-100 border-b border-gray-200 px-5"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-5 mt-0.5 text-gray-400"
      >
        <path
          fill-rule="evenodd"
          d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
          clip-rule="evenodd"></path>
      </svg>

      <input
        type="text"
        placeholder="Search..."
        class="border-0 focus:ring-0 w-full pt-4 pb-3 pl-2 text-gray-900 placeholder:text-gray-400 bg-transparent"
        x-model.debounce.100ms="query"
        x-ref="input"
      />
    </div>

    <div class="p-4 pb-2 overflow-scroll">
      <template
        x-for="result in (await Promise.all(results.slice(0, 5).map(async (r) => r.data())))"
      >
        <a
          x-bind:href="result.url.replace(/\\/$/, '')"
          class="block mb-6 group"
        >
          <p
            x-text="result.meta.title"
            class="text-lg leading-tight text-gray-800 font-bold underline decoration-white group-hover:decoration-gray-300 transition-colors duration-75"
          >
          </p>
          <p
            x-html="result.excerpt"
            class="mt-0.5 break-words [&_mark]:bg-yellow-200 [&_mark]:text-gray-800"
          >
          </p>
        </a>
      </template>
    </div>
  </div>
</div>
